<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    alwaysInEditMode="true"
    canEdit="true"
    countsAsWork="false"
    id="MigrationToolsPage_SP"
    startInEditMode="true"
    title="DisplayKey.get(&quot;SP.MigrationTools.PCF.MigrationTools_Ext&quot;)">
    <LocationEntryPoint
      signature="MigrationToolsPage_SP()"/>
    <Screen
      id="MigrationToolsScreen">
      <Variable
        name="schemaInputFile"
        type="gw.api.web.WebFile"/>
      <Variable
        name="dataIdNumber"
        type="String"/>
      <Variable
        name="existingPayloadID"
        type="String"/>
      <Variable
        name="newPayloadID"
        type="String"/>
      <Variable
        name="newPayloadIDforPolicy"
        type="String"/>
      <Variable
        name="inputPayloadFile"
        type="gw.api.web.WebFile"/>
      <Variable
        name="uploadPayloadID"
        type="String"/>
      <PanelSet>
        <DetailViewPanel
          id="RegistoryDV">
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.CSVTools_Ext')"/>
            <InputSet>
              <ButtonInput
                action="gw.surepath.suite.mt.csvgenerator.dbimpl.csv.CSVUtil.generateWebFile()"
                download="true"
                id="CSVMappingTool"
                label="DisplayKey.get('SP.MigrationTools.PCF.CSVTools.Mapping_Ext')"
                value="DisplayKey.get(&quot;Button.Download&quot;)"/>
            </InputSet>
            <InputSet>
              <ButtonInput
                action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generateDataModelCSV()"
                download="true"
                id="DMMapping"
                label="DisplayKey.get(&quot;SP.MigrationTools.PCF.CSVTools.DBMapping_Ext&quot;)"
                value="DisplayKey.get(&quot;Button.Download&quot;)"/>
              <ButtonInput
                action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generateTypelistMapCSV()"
                download="true"
                id="TypelistDump"
                label="DisplayKey.get(&quot;SP.MigrationTools.PCF.CSVTools.TypelistDump_Ext&quot;)"
                value="DisplayKey.get(&quot;Button.Download&quot;)"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <PanelDivider/>
        <DetailViewPanel
          id="InputDDLDV">
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.InputDDL_Ext')"/>
            <InputSet>
              <ButtonInput
                action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generateInputDdl()"
                download="true"
                id="CSVMappingTool"
                label="DisplayKey.get('SP.MigrationTools.PCF.InputDDL.Generate_Ext')"
                value="DisplayKey.get(&quot;Button.Download&quot;)"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <PanelDivider
          __disabled="true"/>
        <DetailViewPanel
          id="SchemaToolsDV">
          <InputColumn
            width="300">
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools_Ext')"/>
            <InputSet>
              <ButtonInput
                action="gw.surepath.suite.mt.schemadiff.SchemaDiffUtil.generateWebFile()"
                download="true"
                id="ExecuteMigrationToolsBackingClasses"
                label="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.Generate_Ext')"
                value="DisplayKey.get(&quot;Button.Download&quot;)"/>
              <FileInput
                editable="true"
                id="schemaInput"
                label="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.Select_Ext')"
                value="schemaInputFile"/>
              <ButtonInput
                action="gw.surepath.suite.mt.schemadiff.SchemaDiffUtil.schemaDiff(schemaInputFile)"
                download="true"
                id="CompareFileID"
                label="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.Compare_Ext')"
                value="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.Download_Ext')"/>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <PanelDivider/>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.ExportDBI_Ext')"/>
            <TextInput
              editable="true"
              id="PayloadID"
              label="DisplayKey.get('SP.MigrationTools.PCF.ExportDBI.ExistingPayloadID_Ext')"
              value="existingPayloadID"/>
            <TextInput
              editable="true"
              id="NewPayloadID"
              label="DisplayKey.get('SP.MigrationTools.PCF.NewPayloadID_Ext')"
              value="newPayloadID"/>
            <ButtonInput
              action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generateWebFile(existingPayloadID,newPayloadID)"
              download="true"
              id="downloadPayload"
              value="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.DownloadSQL_Ext')"/>
            <ButtonInput
              action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generatePayload(existingPayloadID)"
              download="true"
              id="downloadPayloadJson"
              value="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.DownloadJSON_Ext')"/>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.ExportExistingPolicy_Ext')"/>
            <TextInput
              editable="true"
              id="idNumberID"
              label="DisplayKey.get('SP.MigrationTools.PCF.ExportExistingData.Identification_Ext')"
              value="dataIdNumber"/>
            <TextInput
              editable="true"
              id="newPayloadIDforPolicyID"
              label="DisplayKey.get('SP.MigrationTools.PCF.NewPayloadID_Ext')"
              value="newPayloadIDforPolicy"/>
            <ButtonInput
              action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generateWebFileFromPolicy(dataIdNumber,newPayloadIDforPolicy)"
              download="true"
              id="downloadPayloadJobSQL"
              value="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.DownloadSQL_Ext')"/>
            <ButtonInput
              action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.generatePayloadFromPolicy(dataIdNumber)"
              download="true"
              id="downloadPayloadJob"
              value="DisplayKey.get('SP.MigrationTools.PCF.SchemaTools.DownloadJSON_Ext')"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
      <DetailViewPanel>
        <InputColumn
          width="300">
          <Label
            label="DisplayKey.get('SP.MigrationTools.PCF.Import_Ext')"/>
          <InputSet>
            <FileInput
              editable="true"
              id="schemaInput"
              label="DisplayKey.get('SP.MigrationTools.PCF.Import.InputPayload_Ext')"
              value="inputPayloadFile"/>
            <TextInput
              editable="true"
              id="newPayloadIDforUploadID"
              label="DisplayKey.get('SP.MigrationTools.PCF.NewPayloadID_Ext')"
              value="uploadPayloadID"/>
            <ButtonInput
              action="gw.surepath.suite.mt.uiimportexport.UIImportExportUtil.processPayload(inputPayloadFile,uploadPayloadID)"
              download="true"
              id="CompareFileID"
              value="DisplayKey.get('SP.MigrationTools.PCF.Import.RunMigration_Ext')"/>
          </InputSet>
        </InputColumn>
      </DetailViewPanel>
      <PanelDivider/>
    </Screen>
  </Page>
</PCF>