<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    alwaysInEditMode="true"
    canEdit="true"
    countsAsWork="false"
    id="MigrationSQLEvaluationPage_Ext"
    startInEditMode="true"
    title="DisplayKey.get(&quot;SP.MigrationTools.PCF.SQLEvaluation_Ext&quot;)">
    <LocationEntryPoint
      signature="MigrationSQLEvaluationPage_Ext()"/>
    <Variable
      name="sqlStatement"
      type="String"/>
    <Variable
      initialValue="new gwservices.pmt.sqlinterpreter.PmtSqlInterpreter_Ext()"
      name="interpreter"
      type="gwservices.pmt.sqlinterpreter.PmtSqlInterpreter_Ext"/>
    <Variable
      initialValue="null"
      name="outputSqlStatement"
      type="String"/>
    <Screen
      id="MigrationToolsScreen">
      <AlertBar
        id="errorMessages"
        label="interpreter.errorMessage"
        visible="interpreter.errorMessage != null"/>
      <PanelSet>
        <DetailViewPanel
          id="InputSqlDV">
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.SqlEvaluation.Input_Ext')"/>
            <InputSet>
              <TextAreaInput
                editable="true"
                id="sqlinput"
                label="DisplayKey.get('SP.MigrationTools.PCF.Query_Ext')"
                value="sqlStatement"/>
              <ButtonInput
                action="interpreter.evaluateInputSQL(sqlStatement)"
                download="false"
                id="inputExecute"
                value="DisplayKey.get(&quot;Button.Execute&quot;)"></ButtonInput>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <ListViewPanel
          id="PmtQueryResultLV">
          <Row>
            <CellIterator
              elementName="columnName"
              id="InputCellIterator"
              type="String"
              value="interpreter.InputColumnLabels"
              valueType="java.util.List&lt;java.lang.String&gt;">
              <TextCell
                id="columnNameId"
                value="columnName"></TextCell>
            </CellIterator>
          </Row>
          <RowIterator
            editable="false"
            elementName="queryRow"
            id="inputQueryIterator"
            value="interpreter.InputRows"
            valueType="java.util.List&lt;java.util.List&lt;java.lang.String&gt;&gt;">
            <Row>
              <CellIterator
                elementName="queryColumn"
                type="String"
                value="queryRow"
                valueType="java.util.List&lt;java.lang.String&gt;">
                <TextCell
                  id="queryColumnValue"
                  value="queryColumn"/>
              </CellIterator>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <PanelDivider/>
        <DetailViewPanel
          id="OutputSqlDV">
          <InputColumn>
            <Label
              label="DisplayKey.get('SP.MigrationTools.PCF.SqlEvaluation.Output_Ext')"/>
            <InputSet>
              <TextAreaInput
                editable="true"
                id="sqlinput"
                label="DisplayKey.get('SP.MigrationTools.PCF.Query_Ext')"
                value="outputSqlStatement"/>
              <ButtonInput
                action="interpreter.evaluateOutputSQL(outputSqlStatement)"
                download="false"
                id="outputExecute"
                value="DisplayKey.get(&quot;Button.Execute&quot;)"></ButtonInput>
            </InputSet>
          </InputColumn>
        </DetailViewPanel>
        <PanelRef>
          <Toolbar></Toolbar>
          <ListViewPanel
            id="OutputDBLV">
            <Row>
              <CellIterator
                elementName="columnName"
                id="OutputCellIterator"
                value="interpreter.OutputColumnLabels"
                valueType="java.util.List&lt;java.lang.String&gt;">
                <TextCell
                  id="columnNameId"
                  value="columnName"></TextCell>
              </CellIterator>
            </Row>
            <RowIterator
              editable="false"
              elementName="queryRow"
              id="outputQueryIterator"
              value="interpreter.OutputRows"
              valueType="java.util.List&lt;java.util.List&lt;java.lang.String&gt;&gt;">
              <Row>
                <CellIterator
                  elementName="queryColumn"
                  value="queryRow"
                  valueType="java.util.List&lt;java.lang.String&gt;">
                  <TextCell
                    id="queryColumnValue"
                    value="queryColumn"/>
                </CellIterator>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </PanelSet>
    </Screen>
  </Page>
</PCF>